*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-image: url(https://thumbs.dreamstime.com/b/engineer-working-pc-screen-showing-cad-software-d-components-headset-construction-metalic-architects-using-stylus-pen-216774981.jpg);
}
.card{
    width: 60%;
    height: 70%;
    background-color: aliceblue;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.halfcard{
    height: 50%;
    width: 70%;
    display: flex;
    justify-content: space-between;
}