*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100%;
    background-color:blueviolet;
    display:flex ;
    justify-content: ;
}
.form{
    height: 100%;
    width: 60%;
    background-color: blueviolet;
}
.type{
    height: 100%;
    width:20%;
    background-color: blueviolet;
}
.detail{
    height: 100%;
    width: 20%;
    background-color: blueviolet;
}
h3{
    color:white;
}